@charset "utf-8";
@import url(https://cdn.rawgit.com/theeluwin/NotoSansKR-Hestia/master/stylesheets/NotoSansKR-Hestia.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanummyeongjo.css);

body{font-family: "Nanum Myeongjo", serif;color: #6a6763;}
html { font-size: 100%; } 
body { font-size: 1em;} 
@media (min-width: 200px) { 
    html { font-size: 90%; } 
} 
@media (min-width: 600px) { 
    html { font-size: 100%; } 
} 
@media (min-width: 1200px) { 
    html { font-size: 105%; } 
}

a{color: #323232;}
a:hover, a:focus{color: #6a6763;text-decoration: none;}
form, table{font-family:'Noto Sans Korean', sans-serif;font-weight: 300;}
table th, label{color: #888;font-weight: 300;font-size: 0.9em;}
dd, dt, ul, li{list-style: none;padding: 0;}

main{margin: 40px 0;}

hr{margin: 30px 0;background-color: #ecc731;border: 1px solid #eec731;}
.hr{margin-top: 15px;}

.blind{display: none;}

.label{font-size: 0.8em;font-weight: 300;color: #6a6763;}
.label-warning{padding: 0 5px;border-radius: 2px;border: 0;}

.sec_title{font-size: 2em;color:#6a6763;font-weight: 600;margin-bottom: 50px;padding-bottom: 20px;border-bottom: 2px solid #ecc731;}

.btn-default{font-family:'Noto Sans Korean', sans-serif;font-size: 1em;background-color: transparent; border: 2px solid #323232;color: #323232;border-radius: 0;margin: 20px 5px;padding: 10px 25px;font-weight: 400;z-index:999;}
.btn-default:hover{background-color: #ECC731;border: 2px solid #ECC731;color:#323232; -webkit-transition: all .2s ease-in-out;transition: all .2s ease-in-out;}
.btn-default:active:focus, .btn-default:active:hover{background-color: #ecc731;color: #323232;border: 2px solid #ECC731;}
.btn_wrap{width: 100%;text-align: center;}

.btn-warning, .btn-warning.active.focus, .btn-warning.active:focus, .btn-warning.active:hover, .btn-warning:active.focus, .btn-warning:active:focus, .btn-warning:active:hover, .open>.dropdown-toggle.btn-warning.focus, .open>.dropdown-toggle.btn-warning:focus, .open>.dropdown-toggle.btn-warning:hover{background-color: #ecb731;border: 0;}

.form-control{height: 40px;}

.all{font-family:'Noto Sans Korean', sans-serif;font-weight: 300;float: left;}

.col-md-1,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-10,.col-md-11,.col-md-12{padding: 0;}

.pagination>li>a, .pagination>li>span, .pagination>li>a:hover, .pagination>li>span:hover{font-family:'Noto Sans Korean', sans-serif;}
/*페이징*/

.pagination>li>a, .pagination>li>span, .pagination>li>a:hover, .pagination>li>span:hover{color: #ecb731;font-weight: 600;background-color: #fff;}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{background-color: #ecb731;border-color:#ecb731;}


/*네비게이션*/

.logo_wrap{margin: 0;}
.navbar-default .navbar-brand{font-size: 1.4em;font-weight: 700;color: #323232;padding-right: 20px;z-index: 9999;}
@media (max-width:300px){
    .navbar-default .navbar-brand{padding-right: 0;margin-top: 20px;}
}
.navbar-default .navbar-brand:hover{color: #323232;}

.navbar{margin: 0;padding: 0;border: 0;}
.navbar-default{background-color: #fff;color:#323232;text-align: center;padding: 15px;}
.navbar-default .navbar-nav>li>a{font-weight: 400;font-size: 1em;color: #322e2c;font-family:'Noto Sans Korean', sans-serif;}
.nav>li>a{padding: 3px 11px;margin-top: 13px;}
.nav>li>a:nth-child(4){padding-right: 0;}
.navbar-default .navbar-nav>li>a:hover{font-size: 1em;color: #ecc731;background-color: transparent;transition: .1s;}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{color: #323232;background-color: #fff;}
.navbar-default .navbar-collapse{border: 0;}
.navbar-default .navbar-toggle{border: 0;}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {background-color: transparent;border: 0;}
.icon-bar{border: 2px solid #ecc731;}

.navbar_toggle_button{text-align: center;}


/*.toggle:hover{background-color: #fff;border: 0;}*/


  .affix {
      top: 0;
      width: 100%;
      -webkit-transition: all .8s;
      transition: all .8s;
      background-color: #fff;
      box-shadow: 0px -10px 40px #aaa;
      padding: 2px;
      z-index: 99999;
      background-color: rgba(255,255,255,0.9);
  }
.affix .navbar-header{padding: 7px;}
.affix .navbar-nav{margin-top: 10px;}
.affix .navbar-nav>li>a{-webkit-transition: all .5s;
      transition: all .5s ease;font-size: 0.95em;padding-top: 8px;margin-top: 10px;}
.affix .navbar-nav>li>a:hover{font-size: 0.95em;}
.affix .navbar-brand{-webkit-transition: all .5s;
      transition: all .5s;font-size: 1.3em;margin-top: 4px;}


/*탑메뉴*/

.scrollToTop{
    z-index: 9999;
	padding: 8px 11px 5px 11px;
    border-radius: 8px;
	text-align:center;
	font-weight: bold;
	color: #fff;
	text-decoration: none;
	position:fixed;
	bottom:20px;
	right:20px;
	display:none;
    background-color: rgba(255,255,255,0.8);
    box-shadow: 0px 0px 5px #888;
}
.scrollToTop:hover{
	text-decoration:none;
}

.glyphicon-menu-up{font-size: 22px;color:#323232;}

/*상단 배경 사진*/
.bgc_wrap{padding: 0;width: 100%;overflow: hidden;}
.bgc_img{top: 0;left: 0;min-width:100%;left: 50%;transform: translateX(-50%);-webkit-transform: translateX(-50%);position: relative;}
.bgc_con_wrap1{width: 440px;position: absolute;left: 50%;margin-left: -220px;top: 50%;transform: translateY(-50%);-webkit-transform: translateY(-50%);}
.bgc_title{font-size: 3em;color: #fff;text-align: center;margin:30px;border: 5px double #fff;text-shadow:#666 0px 0px 1px;font-weight: 600;}
.bgc_con{font-size: 1.2em;color: #fff;text-align: center;margin-top: 20px;text-shadow:#666 0px 0px 1px;}

/*슬라이드*/

.carousel-inner>.item>img{top: 0;left: 0;overflow: hidden;min-width:1200px;left: 50%;transform: translateX(-50%);-webkit-transform: translateX(-50%);position: relative;}
.carousel-caption{top: 50%;transform: translateY(-50%);-webkit-transform: translateY(-50%);}
.carousel_title{font-size: 4em;font-weight: 600;margin-bottom: 20px;padding: 10px 0;border: 5px double #fff;width: 250px;margin: 0 auto;margin-bottom: 30px;text-shadow:#666 1px 1px 1px;}
.carousel_con{font-size: 1.2em;vertical-align: middle;}
.mark{background-color: #ECC731;text-shadow:#666 0px 0px 0px;}

@media (max-width: 600px){
  .carousel-inner .carousel-caption{display:block;}
}
/*인덱스 프로그램*/

.index_program_wrap{position: relative;padding: 0;}
/*background: transparent url(../img/bgc2.jpg) no-repeat;background-size:cover;*/
.index_program{font-size: 1.8em;color:#6a6763;font-weight: 600;margin: 30px 0;padding: 0;}

.index_float_wrap{transform: translateX(10%);-webkit-transform: translateX(10%);}
.index_float_wrap span{font-size: 1.2em;float: left;padding: 0 20px;height: 180px;margin-top: 40px;border-left: 1px solid #666;}

.index_img2_wrap{padding: 0;width: 100%;overflow: hidden;}
.index_img2_title{font-size: 2em;color: #323232;text-align: left;}
.index_img2_con{font-size: 1.1em;color: #323232;text-align: left;margin-top: 20px;}

.float{float: left;padding: 0 20px;margin: 0;border-left: 1px solid #323232;height: 180px;}

.index_program_btn{margin-top: 180px;border-left: 0;font-size: 1em;}


.index_bgc{float: right;transform: translateX(-30%);-webkit-transform: translateX(-30%);}
@media (max-width: 1500px) {
.index_bgc{transform: translateX(0%);-webkit-transform: translateX(0%);}
}
@media (max-width: 750px) {
.index_bgc{margin-top: 70px;}
}
@media (max-width: 600px) {
.index_bgc{margin-top: 130px;}
}
@media (max-width: 500px) {
.index_bgc{margin-top: 170px;}
}
@media (max-width: 400px) {
.index_bgc{margin-top: 200px;}
}
@media (max-width: 300px) {
.index_bgc{margin-top: 250px;}
}


.index_img1_wrap{max-height: 320px;padding: 0;width: 100%;overflow: hidden;}
.index_img1{top: 0;left: 0;min-width:100%;left: 50%;transform: translateX(-50%);-webkit-transform: translateX(-50%);position: relative;position: relative;}
.index_img1_con_wrap{left: 30%;transform: translateX(-10%);-webkit-transform: translateX(-10%);width: 500px;position: absolute;top: 70px;text-align: left;z-index: 999;}
.index_img1_title{font-size: 2em;color: #fff;text-align: left;text-shadow:#666 0px 1px 1px;}
.index_img1_con{font-size: 1.1em;color: #fff;text-align: left;margin-top: 20px;text-shadow:#666 0px 1px 1px;}
.index_btn{background-color: #ECC731;border: 2px solid #ECC731;color:#111;font-weight: 400;border-radius: 0;margin-top: 40px;padding: 10px 30px;margin-left: -2px;}
.index_btn:hover{background-color: #ecc731;border: 2px solid #ecc731;color:#111;}


/*인덱스 이용후기*/

.index_rv_rs_wrap{margin: 50px auto;}

.index_review_wrap{font-family:'Noto Sans Korean', sans-serif;font-size: 15px;text-align: left;color: #323232;padding: 0 0px;}
.index_review_title{border-bottom: 2px solid #ecc731;padding: 10px 0;}
.table>thead>tr>th{padding: 15px 0;font-size: 1em;}
.table>tbody>tr>td{padding: 15px 5px;font-weight: 300;font-size: 1.1em;}
.index_review_wrap a{color: #6a6763;}
.index_review_wrap p{color:#6a6763;font-size: 1.2em;float: left;}
.index_review_wrap span.glyphicon-plus-sign{float: right;font-size: 1.4em;color: #ECC731;}

.index_review_info{font-size: 0.9em;margin-top: 10px;color: #999;}

/*퀵메뉴*/
.index_quickmenu{text-align: center;line-height: 1.8em;margin-top: -25px;}
.index_quickmenu h3{font-weight: 600;}
.index_quickmenu p{margin: 20px 0;}
.glyphicon-calendar{background-color: #ECC731;color:#6a6763;font-size: 3em;}
.index_quickmenu a.index_btn{margin-top: 40px;}



/*footer*/

.footer_wrap{font-family:'Noto Sans Korean', sans-serif;font-weight: 300;color: #323232;}

.footer{font-family:'Noto Sans Korean', sans-serif;font-weight: 300;font-size: 0.8em;color: #dfdfdf;}

.footer_select{margin: 10px 0;}

/*소개*/

.content_wrap
.introduce_wrap{font-family:'Noto Sans Korean', sans-serif;font-weight: 300;line-height: 2em;padding: 0;text-align: left;}
.introduce_wrap h3{font-family: "Nanum Myeongjo", serif;font-weight: 600;padding-bottom: 40;}

.introduce1_img{margin-bottom: 40px;}
.introduce1_con_wrap h3{margin-top: 0;margin-bottom: 30px;}

.introduce2{background: transparent url(../img/bgc2.jpg) no-repeat;background-size:cover;padding: 30px 0;}

.thumbnail_wrap{padding: 10px 50px;text-align: center;}
.modal.in .modal-dialog{top: 20%;margin-top: -50px;}
.modal_img{padding: 10px;}
.modal-body p{padding: 10px;}
.modal-footer{padding: 0 15px;}
.caption h4{color: #6a6763;}

.modal{z-index: 99999999;}

.accordion_title{margin: 20px 0;font-weight: 600;}
.panel-group{font-family:'Noto Sans Korean', sans-serif;font-weight: 300;color: #6a6763;line-height: 2em;}
.panel-default {text-align: left;border-color: #fff;}
.panel-default>.panel-heading{color: #323232;background-color: #fff;border-color:#fff;border-top: 1px solid #ecc731;}
.panel-default>.panel-heading .glyphicon-menu-down{float: right;margin-top: 5px;color: #ecc731;}
.panel-group .panel+.panel{margin: 0;}
.panel-heading{border: 0;border-radius: 0;}
.panel-default>.panel-heading+.panel-collapse>.panel-body{font-size: 0.95em;border: 0;}

.panel-title>.small, .panel-title>.small>a, .panel-title>a, .panel-title>small, .panel-title>small>a{font-size: 1em;font-weight: 300;line-height: 2em;color: #6a6763;}

.map{padding: 0;}
.map_info{width: 100%;padding: 20px;background-color: #ecc731;text-align: center;font-weight: 400;color: #323232;}
.info_con{font-size: 14px;}
.info{font-size: 25px;padding: 5px;}

.introduce_bgc{margin-top: -100px;float: right;}
@media (max-width: 1000px) {
.introduce_bgc{margin-top: -20px;}
}

/*프로그램*/

.program_main{margin: 0;margin-top: 30px;}

.program_con_wrap{text-align: left;}
.nav-tabs{display: inline-block;border: 0;text-align: left;margin: 30px auto;}

.nav-tabs>li>a{font-size: 1.2em;border: 0;border-left: 1px solid #6a6763;padding-top: 0;;padding-bottom: 15px;margin: 0 20px;}
.nav-tabs>li>a:hover{font-weight: 600;color: #323232;border: 0;border-left: 2px solid #6a6763;background-color: transparent;box-sizing: border-box;}
/*.nav-tabs>li.active{background-color: #fff;}*/

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover
{font-weight: 600;color: #323232;border: 0;border-left: 2px solid #6a6763;}
.nav-tabs>li>a{border-radius: 0;}
.title_caption{font-size: 14px;color: #999;}

.nav-tabs>li>.program_xs_tab{margin: 0;}


.product_img1_wrap{padding: 0 20px;}
.product_img1{width: 100%;float: both;margin-bottom: 30px;}
.program_con_wrap{padding: 0 20px;}
.program_con_title{float: both;padding-top: 0;margin-right: 20px;margin-bottom: 20px;border-left: 1px solid #6a6763;padding: 0 12px;padding-bottom: 50px;}
.program_con_title>h1{font-size: 2.4em;font-weight: 600;margin: 0;padding-left: 20px;}
.product_short{line-height: 2em;padding: 0;}
.program_con_wrap2{padding: 40px 0;margin-top: 30px;background: transparent url(../img/bgc2.jpg) no-repeat;background-size:cover}

.program_con_title2{float: left;padding-top: 0;}
.program_con_title2>h3{font-size: 1.5em;font-weight: 600;margin: 0;}
.product_short2{padding: 0;padding-left: 30px;border-left: 1px solid #6a6763;}
.product_table_wrap{text-align: left;margin-bottom: 15px;padding: 0;}
.product_table_wrap>div{border-top: 1px solid #ddd;padding: 8px;}
.product_table_wrap>div:nth-child(2){border-top: 0;}
.product_table_wrap>div:first-child{padding-top: 0;padding-bottom: 0;}
.product_table_cap_wrap{border-bottom: 1px solid #ddd;}
.product_table_cap{font-weight: 600;border: 0;padding-left: 0;}
.product_table_wrap>div.product_table_title{font-size: 1.15em;font-weight: 600;border: 0;border-bottom: 2px solid #ecc731;padding-bottom: 8px;}

.program_con_wrap3{padding: 0;margin-top: 50px;}

.program_notice_title{font-family:'Noto Sans Korean', sans-serif;font-weight: 300;}

.notice{font-family:'Noto Sans Korean', sans-serif;font-weight: 300;}

.product_bgc{margin-top: -100px;float: right;min-width: 400px;}
@media (max-width: 1000px) {
.product_bgc{margin-top: -20px;}
}

.notice .row{padding: 10px 0;}
.notice .col-xs-2, .notice .col-xs-10{padding: 0;}
.notice .col-xs-10{padding-left: 10px;}

/*예약*/

form.reservation_form{font-family: "Nanum Myeongjo", serif;text-align: left;}

form.reservation_form select, form.reservation_form input{font-family:'Noto Sans Korean', sans-serif;text-align: left;margin-bottom: 30px;}


.reservation_form input{display: block;margin-bottom: 20px;width: 100%;}
#resu{margin: 0;width: 100%;text-align: center;}

.reservation_con_wrap{margin-bottom: 20px;padding-bottom: 40px;}
.reservation_con_title{float: both;padding-top: 0;margin-bottom: 30px;}
.reservation_con_title>h1{font-size: 2.4em;font-weight: 600;margin: 0;}

.reservation_accordion{font-family: "Nanum Myeongjo", serif;}

.p_content{line-height: 1.8em;}

/*이용후기*/

/*리스트*/

.all_post{font-family:'Noto Sans Korean', sans-serif;font-weight: 300;text-align: left;float: left;}
.search_box{float: right;margin-bottom: 10px;margin-top: -10px;}
.glyphicon-search{background-color: #fff;font-size: 1.3em;margin-bottom: 5px;}
.list_table{border-bottom: 1px solid #efefef;}
.review_list_wrap{font-family:'Noto Sans Korean', sans-serif;font-weight: 300;text-align: left;padding-top: 20px;border-top: 1px solid #efefef;}
.review_img_wrap{background-color: #fff;max-width: 350px;padding: 15px 0;}
.review_list_img{}
.review_noimg_wrap{background-color: #dfdfdf;background-color: #dfdfdf;}
.noimg{font-size: 8em;margin: 0 auto;display: block;padding: 15px 0;}
.review_con_wrap{margin-top: 10px;}
.review_title{font-size: 1.4em;font-weight: 500;color: #6a6763;margin-top: 10px;}
.review_caption{font-size: 14px;margin-top: 6px;color: #aaa;}
.review_con{font-size: 1em;line-height: 1.5em;color: #6a6763;margin-top: 10px;}
.write_btn{float: right;}


/*뷰*/

.review_view_wrap {font-family:'Noto Sans Korean', sans-serif;font-weight: 300;text-align: left;}
.review_v_con_wrap{padding: 60px 0;border-bottom: 1px solid #dfdfdf;border-top: 1px solid #dfdfdf;}
.review_v_info_wrap{margin-bottom: 30px;}
.review_v_title{font-size: 1.4em;font-weight: 400;}
.review_v_info{font-size: 0.9em;color: #aaa;}
.review_img{width: 600px;}
.review_v_con{margin: 30px 0;line-height: 1.6em;}
.review_v_list{float: left;}
.review_v_admin{float: right;}

@media (max-width:380px){
    .review_v_btn{border: 0;padding: 5px;border: 2px solid #323232;}
    .review_v_btn:hover{border: 0;}
}

/*코멘트*/
.comment_wrap{font-family:'Noto Sans Korean', sans-serif;font-weight: 300;text-align: left;}
.comment_input_wrap{}
.comment_box{float: left;width: 100%;}
.comment_btn{float: right;background-color: #ecc731;border: 2px solid #ecc731;margin-bottom: 0;}
.comment_btn:hover{background-color: #ECC731;border: 2px solid #ECC731;color:#323232; -webkit-transition: all .2s ease-in-out;transition: all .2s ease-in-out;}

.comment_con_wrap{padding: 10px 0;border-top: 1px solid #ddd;}
.comment_con_wrap:last-child{border-bottom: 1px solid #ddd;}
.comment_date{font-size: 0.8em;}
.comment_content{margin-top: 6px;}

/*글쓰기/수정*/

.review_write{text-align: left;}

/*회원가입*/


.content_wrap{text-align: center;}

.hint{font-size: 0.9em;color: #6a6763;text-align: left;}
.input_wrap{margin: 15px 0;}
.input_title{text-align: left;padding: 10px;}
.tel_box{padding: 5px;}
.tel_box:first-child{padding-left: 0;}
.tel_box:last-child{padding-right: 0;}

/*로그인*/

.login_form{text-align: left;}
.login_btn{margin: 30px 0;}

.login_input:first-child{margin-bottom: 20px;}

.login_label {font-size: 1em;color: #6a6763;font-weight: 400;margin-bottom: 20px;}
.login_btn_wrap{font-size: 14px;text-align: left;margin-top: 7px;}
.jutisfy{text-align: justify;}

/*회원찾기*/

.find_titld{font-family:'Noto Sans Korean', sans-serif;text-align: left;padding-bottom: 20px;border-bottom: 2px solid #ddd;}

.find_wrap{font-family:'Noto Sans Korean', sans-serif;border: 1px solid #aaa;padding: 30px;}



/*마이페이지*/

.sub-tab{text-align: center;position:relative;overflow:hidden;max-width:950px;margin:0 auto;}
.sub-tab ul{font-family:'Noto Sans Korean', sans-serif;padding:0;list-style:none;}
.sub-tab ul li{display:inline-block;font-size:1.1em;}
.sub-tab a{text-decoration:none;padding: 10px 20px;display:block;color: #323232;text-align: center;}
.sub-tab a.off{border:2px solid #fff;}
.sub-tab a.on {border:2px solid #ecc731;color: #323232;}
.sub-tab a.a{}
@media screen and (min-width: 623px) {
.sub-tab-select {
visibility:hidden;
}
}
@media screen and (max-width: 622px) {
.sub-tab-select{
font-family:'Noto Sans Korean', sans-serif;
margin:20px 0;
}
.sub-tab{visibility:hidden;position:absolute;}
.sub-tab-select select{padding:10px;width:100%;font-size:17px;border: 0;border-bottom:1px solid #ccc;color:#6a6763;margin-bottom: 20px;}
.sub-tab-select select:hover{cursor: pointer}
}
.sub_wrap{position:relative;}

.member_title{font-family:'Noto Sans Korean', sans-serif;font-size: 1.3em;color: #6a6763;margin-bottom: 5px;}

.member_form{text-align: center;}
.member_form>p{font-family:'Noto Sans Korean', sans-serif;color: #6a6763;}

.member_icon{font-size: 9em;padding: 20%;background-color: #ecc731;color: #6a6763;width: 100%;text-align: center;}

.members_delete{line-height: 2em;}



/*admin*/

.admin_btn{float: right;}
.member_list>thead>tr>th, .member_list>tbody>tr>td {padding: 10px 0;}

